HELP.md
target/classes
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
target/spring-boot-docker.jar.original
#test
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
